<div class="well col-sm-6 col-sm-push-3">
<%= form_for(:session, url: login_path) do |f| %>

  <div class="form-group">
    <%= f.label :username %><br>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Sign In", :class => "btn btn-primary"%>
  </div>
<% end %>
  <div class="form-group">
    <%= link_to 'Create New User Account', new_user_path %>
  </div>
  <div class="form-group">
    <%= link_to 'Send Email to Emergency Contact', email_users_path %>
  </div>
</div>
