</br>
<div class="well col-sm-6 col-sm-push-3">
<%= form_for(@user) do |f| %>

<%= render 'error_messages' %>

  <div class="form-group">
    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, placeholder: 'Password', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Emergency Contact Email" %><br>
    <%= f.text_field :email, placeholder: 'Emergency Contact Email', class: 'form-control' %>
  </div>
  <% if !(@user.score.nil?) %>
  <div class="form-group">
    Password Strength <%= render 'password_strength' %><br>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary btn-sm"%>
  </div>
  <% if (@user.id.nil?) %>
    <div class="form-group">
      <%= link_to 'Generate Password', generate_password_users_path %>
    </div>
  <% else %>
    <div class="form-group">
      <%= link_to 'Delete Account', @user, method: :delete %>
    </div>
  <% end %>
<% end %>
</div>
