<h2>IntelPass Password Validation</h2>
<hr>

<div>
<%= link_to 'Hide Passwords', '#', id: "table-link" %> |
<%= link_to 'Import Passwords', '#', id: "import-link" %> |
<%= link_to 'Create New Password', '#', id: "create-password-link" %>
</div>


<div id='import-passwords'>
    <p><%= render 'import' %></p>
</div>

<div id='password-form'>
    <p><%= render 'form' %></p>
</div>

<div id='password-table'>
    <p><%= render 'table' %></p>
</div>
