<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CodeChallange</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" lang="en" content="John Hopkins Code Challange">
	<meta name="author" content="Kyle Hasty">
	<meta name="robots" content="index, follow">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navigation Bar -->
<%= render 'layouts/navigation' %>

  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

        <!-- Messages -->
        <%= render 'layouts/messages' %>

        <!-- JHM Image -->
        <%= image_tag("jhm.png", :class => "img-rounded img-responsive pull-right") %></br>

        <!--Rendered Content -->
        <%= yield %>

      </div>
    </div>
      <!-- /.row -->
      <!-- footer -->
      <hr>
      			<footer class="margin-tb-3">
      				<div class="row">
      					<div class="col-sm-12">
      						<p>Copyright &copy; CodeChallange 2016</p>
      					</div>
      				</div>
      			</footer>
      <!-- footer -->
  </div>
  <!-- /.container-fluid -->

</body>
</html>
